.container {
    max-width: 1000px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}

/* Header */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}