.container {
    max-width: 1000px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}

/* Header */
header {
    border-top: 5px solid #7e5c88;
    background-color: blanchedalmond;
}