
body {
    background-color: #1f1f1f;
    height: 2000px;
}

.box {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}

.blue-box {
    background: #627da0;
    position: absolute;
    left: 150px;
}

.green-box {
    background-color: #5b8054;
}

.container {
    background-color: rgba(0, 0, 0, 0.4);
    height: 200px;
    width: 200px;
    margin-top: 100px;
    margin-left: 10px;
    position: relative;
}