
.box {
    width: 100px;
    height: 100px;
    box-sizing: border-box;
}

.red-box {
    background: #fff222;
}

ul {
    display: flex;
    margin: 0;
    padding: 0;
}

ul>li {
    list-style: none;
}

ul>li>a {
    position: relative;
    text-decoration: none;
    display: inline-block;
    padding: 10px 15px;
    border-top: 5px solid black;
}

li>a:hover {
    border-top: 5px solid red;
    background-color: antiquewhite;
}

li>a:hover::before{
    position: absolute;
    top: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: solid;
    border-width: 4px 2px 2px 2px;
    border-color: transparent;
    border-top-color: red;
    content: "";
}

.fake-border {
    border-top: 5px solid black;
    align-self: stretch;
}

