* {
    box-sizing: border-box;
    transition: all .3s ease-in-out;
}

*::before,
*::after {
    box-sizing: inherit;
    transition: all .3s ease-in-out;
}

a {
    text-decoration: none;
}

// Define color
$blue :#3A93F3;
$txt-color-primary: #A8A8A8;
$txt-color-second: #474747;
$header-color: rgba(0, 0, 0, .55);

.txt-white {
    color: white;
}

// Button
.btn,
.btn.inverse:hover {
    display: inline-block;
    padding: 8px 25px 10px;
    text-transform: uppercase;
    border: 1px solid;
    cursor: pointer;

    // color
    color: #fff;
    background-color: $blue;
    border-color: $blue;
}

.btn:hover,
.btn.inverse {
    color: inherit;
    background-color: transparent;
    border-color: inherit;
}

.container {
    max-width: 1140px;
    width: 90%;
    margin: 0 auto;
}

.container-fluid {
    max-width: 75%;
    margin: 0 auto;
}


// Style
header {
    padding: 20px 0;
    background-color: rgba($color: #202020, $alpha: 1);
    color: $txt-color-primary;

    ul li {
        margin-right: 15px;

        a {
            color: $txt-color-primary;
        }
    }
}

#top {
    background-image: url('../img/background-01.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;


    .first {
        background-color: rgba($color: #000000, $alpha: 0.55);

        nav ul li {
            margin-right: 15px;

            a {
                display: inline-block;
                padding: 30px 0;
                color: white;
                text-transform: uppercase;
                font-size: var(--base-size);
            }

            a:hover,
            .activate {
                color: $blue;
            }
        }
    }

    .second {
        padding: 200px 0 270px;

        p {
            margin-bottom: 20px;
        }

        h2 {
            margin-bottom: 70px;
        }
    }

    ul li a {
        padding: 25px 35px 27px;
        border-radius: 50px;
        margin-right: 20px;
    }
}

#content {
    background-color: white;
    color: $txt-color-second;
    text-align: center;

    .content-first {
        position: relative;
        top: -100px;

        .container {
            background-color: white;

            box-shadow: 0px 15px 15px 0px rgba(0, 0, 0, .1);
            padding: 30px;
        }

        h6 {
            font-family: 'Georgia';
        }

        ul {
            margin-top: 30px;

            li {
                margin-bottom: 30px;
            }
        }
    }

    .content-third ul li {
        padding: 30px 15px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, .1);

        i {
            margin-bottom: 30px;
            color: $blue;
            width: 60px;
            height: 60px;
            line-height: 60px;
            font-size: 1.6rem;

            &:hover {
                color: white;
                background-color: $blue;
            }
        }
    }
}

#team {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/background-02.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding: 80px 0;

    article {
        text-align: center;
        margin-bottom: 80px;

        h5 {
            padding-top: .5em;
        }
    }

    img {
        max-width: 100%;
        width: auto;
        height: auto;
    }

    ul li:not(:first-child) {
        display: flex;
        flex-flow: column nowrap;
        text-align: center;

        a {
            margin-bottom: 20px;
            position: relative;

            &:hover {

                &::before {
                    content: "";
                    background-color: rgba(58, 147, 243, .3);
                    opacity: 1;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    position: absolute;
                }


                &::after {
                    content: "+";
                    color: white;
                    font-size: 2rem;
                    font-weight: bold;
                    position: absolute;

                    top: 50%;
                    left: 0;
                    right: 0;
                    transform: translateY(-50%);
                }

            }
        }
    }
}

