@font-face {
    font-family: 'OpenSansRegular';
    src: url('../font/opensans-regular-webfont.woff2')format('woff2'),
        url('../font/opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}