* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

a {
  text-decoration: none;
}

body {
  font-family: 'OpenSansRegular';
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .logo span {
  font-family: 'Georgia';
  font-size: 32px;
  color: #777777;
  text-transform: uppercase;
}

header .logo p {
  font-size: 12px;
  color: #777777;
  text-transform: none;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  margin: 0;
  padding: 0;
}

header nav ul li a {
  border-top: 3px solid #F3F3F5;
  position: relative;
  display: inline-block;
  padding: 40px 20px;
  font-size: 14px;
  color: #777777;
  text-transform: uppercase;
}

header nav ul li a:hover {
  border-top: 3px solid #50C6C6;
  background-color: #FCFCFE;
}

header nav ul li a:hover::before {
  position: absolute;
  top: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: solid;
  border-width: 4px 2px 2px 2px;
  border-color: transparent;
  border-top-color: #50C6C6;
  content: "";
}

header nav ul li .face-border {
  border-top: 3px solid #F3F3F5;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
}

#sidebar {
  position: relative;
}

#sidebar .banner img {
  max-width: 100%;
  height: auto;
}

#sidebar .text {
  position: absolute;
  bottom: 12%;
  left: 10%;
  padding: 0;
  display: block;
  margin: 0 auto;
  max-width: 500px;
}

#sidebar .text p:not(:last-child) {
  margin-bottom: 30px;
}

#sidebar .text p:not(:last-child) span {
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 28px;
  color: #FFFFFF;
  text-transform: uppercase;
  padding: 5px 8px;
}

#sidebar .text a {
  font-size: 15.4px;
  color: #FFFFFF;
  text-transform: uppercase;
  border-radius: 10px;
  padding: 8px 15px;
  background-color: #50C6C6;
}

#sidebar .text a:hover {
  background-color: #287B7B;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

#services {
  background-color: #50C6C6;
  padding: 50px 0;
}

#services ul {
  max-width: 1140px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#services ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#services ul li i {
  background-color: #287B7B;
  border-radius: 50%;
  font-size: 75px;
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 30px;
  border: 1px solid #287B7B;
}

#services ul li i::before {
  display: block;
  width: 130px;
  height: 130px;
  line-height: 120px;
  margin: auto;
  border: 4px solid #50C6C6;
  border-radius: 50%;
}

#services ul li i:hover {
  color: #287B7B;
  -webkit-transition: 1s ease;
  transition: 1s ease;
  background-color: #FFFFFF;
  border-color: #FFFFFF;
}

#services ul li span {
  font-size: 22px;
  color: #ffffff;
  text-transform: none;
  padding-bottom: 30px;
}

#services ul li p {
  font-size: 14px;
  color: #ffffff;
  text-transform: none;
}

#home-page {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5))), url("../img/background.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.5)), url("../img/background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode: darken;
  text-align: center;
  padding: 80px 0;
}

#home-page .text span {
  font-family: 'Georgia';
  font-size: 46px;
  color: #FFFFFF;
  text-transform: none;
  padding-top: 30px;
}

#home-page .text > p {
  padding-top: 30px;
  font-size: 14px;
  color: #FFFFFF;
  text-transform: none;
}

#home-page ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (348px)[3];
      grid-template-columns: repeat(3, 348px);
  -webkit-column-gap: 48px;
          column-gap: 48px;
  margin: 0 calc((100% - 1100px) * 0.5);
}

#home-page ul li {
  background-color: #000000;
  color: white;
}

#home-page ul li img {
  width: 100%;
  height: auto;
}

#home-page ul li .text {
  padding: 20px;
}

#home-page ul li .text span {
  font-size: 22px;
  color: #50c6c6;
  text-transform: none;
}

#home-page ul li .text p {
  padding-bottom: 30px;
}

#home-page ul li .text p span {
  font-size: 11px;
  color: #ffffff;
  text-transform: none;
}

#home-page ul li .text a {
  font-size: 12.6px;
  color: #ffffff;
  text-transform: none;
  padding: 5px 15px;
  background-color: #50C6C6;
  border-radius: 5px;
}

#home-page ul li .text a:hover {
  background-color: #287B7B;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  margin: 0 calc((100% - 1140px) * 0.5);
  padding: 80px 0;
}

#second img {
  width: 80%;
  height: auto;
}

#second .text {
  margin-left: 48px;
}

#second .text span {
  font-family: 'Georgia';
  font-size: 46px;
  color: #777777;
  text-transform: none;
}

#second .text p {
  font-size: 19.6px;
  color: #777777;
  text-transform: none;
  margin: 1rem 0;
}

#second .text ul {
  margin-bottom: 30px;
}

#second .text ul li {
  margin-top: 6px;
  font-size: 14px;
  color: #777777;
  text-transform: none;
}

#second .text .link a {
  padding: 8px 15px;
  border-radius: 10px;
  margin-right: 40px;
  font-size: 15.4px;
  color: #ffffff;
  text-transform: none;
}

#second .text .link a:first-child {
  background-color: #50C6C6;
}

#second .text .link a:not(:first-child) {
  background-color: #A8A8A8;
}

#logo {
  background-color: #F3F3F5;
  text-align: center;
  padding: 80px 0;
}

#logo .text span {
  font-family: 'Georgia';
  font-size: 46px;
  color: #777777;
  text-transform: none;
  margin-bottom: 30px;
}

#logo .text p {
  font-size: 14px;
  color: #777777;
  text-transform: none;
  margin-top: 30px;
  margin-bottom: 50px;
}

#logo .text p a {
  color: #50c6c6;
}

#logo .photo a {
  margin: 0 25px;
}

#team {
  text-align: center;
  padding: 80px 0;
  max-width: 1140px;
  margin: 0 auto;
}

#team .text span {
  font-family: 'Georgia';
  font-size: 46px;
  color: #777777;
  text-transform: none;
}

#team .text p {
  font-size: 14px;
  color: #777777;
  text-transform: none;
  margin-top: 30px;
  margin-bottom: 50px;
}

#team .photo-team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

#team .photo-team li img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  border: 1px solid #50C6C6;
}

#team .photo-team li span {
  font-size: 14px;
  color: #777777;
  text-transform: none;
}

#team .photo-team li p {
  font-size: 11.2px;
  color: #777777;
  text-transform: none;
}

footer .subscribe {
  background-color: #50C6C6;
  padding: 30px calc((100% - 1140px) * 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .subscribe .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .subscribe .text i {
  margin-right: 30px;
  font-size: 3em;
  color: #287B7B;
}

footer .subscribe .text span {
  font-family: 'Georgia';
  font-size: 32px;
  color: #ffffff;
  text-transform: none;
}

footer .subscribe .input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .subscribe .input input {
  width: 360px;
  height: 50px;
  border-radius: 10px;
  border: 0;
}

footer .subscribe .input input:focus {
  border: 0;
}

footer .subscribe .input a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 30px;
  height: 50px;
  background-color: #287B7B;
  border-radius: 10px;
  padding: 11px 30px;
  font-size: 22px;
  color: #50C6C6;
  text-transform: uppercase;
}

footer .subscribe .input a:hover {
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  color: white;
}
/*# sourceMappingURL=style.css.map */