$text-color: #2A6049;
$bg-color: #FBF9F1;

@mixin cuz-text($size, $weight, $color, $trans) {
    text-transform: $trans;
    color: $color;
    font-size: $size;
    font-weight: $weight;
}


* {
    box-sizing: border-box;
}

*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: helvetica, sans-serif;
    background-color: $bg-color;
}

.container {

    margin: 0 auto;
    max-width: 1110px;
}

a {
    text-decoration: none;
}

header {
    background-color: $bg-color;
    padding: 45px 0;
    overflow: hidden;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 10;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    .logo {
        display: flex;

        span {
            align-self: flex-end;
            padding-left: 20px;
            // @include cuz-text(25px, bold, $text-color, none);
        }
    }

    nav ul {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;

        li {
            padding: 0 15px;

            a {
                @include cuz-text(15px, lighter, #191919, none);

                &.activate,
                &:hover {
                    color: #479e79;
                }
            }
        }
    }
}

#banner {
    position: relative;
    max-width: 1110px;
    margin: 0 auto;
    margin-top: 131px;

    .photo img {
        width: 100%;
    }

    .text {
        position: absolute;
        top: 20%;
        left: 10%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-width: 400px;
        width: 100%;
        text-transform: uppercase;
    }
}

#weekly-deals {
    padding: 50px 0;
    border-bottom: 1px solid black;

    &>div {
        padding: 30px 0;
    }

    ul li .img {
        position: relative;

        &::before {
            padding-top: calc(100%);
            content: "";
            display: block;
        }

        img {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            width: 100%;
            height: auto;
        }

        span {
            position: absolute;
            top: 0;
            left: 0;
            padding: 10px;
            background-color: $text-color;
            color: white;
        }
    }
}

#grab {
    margin-top: 50px;
    padding: 50px 0;
    background-color: white;

    ul li .img {
        span {
            display: none;
        }

        img {
            width: 100%;
            height: auto;
        }
    }
}

#feature {
    margin: 50px auto;

    article {
        display: grid;
        grid-template-rows: 63px min-content 1fr;
        justify-items: center;
        align-items: center;

        span {
            padding: 15px 0;
        }

        p {
            padding: 10px 30px;
        }
    }
}