@font-face {
    font-family: 'futura';
    src: url('../font/futura-pt-light.woff')format('woff');  
}

@font-face {
    font-family: 'poppins-extralight';
    src: url('../font/poppins-extralight.woff');
}

@font-face {
    font-family: 'poppins-semibold';
    src: url('../font/poppins-semibold.woff');
}