@font-face {
    font-family: 'Georgia';
    src: url('/!!Source/fonts/georgia.woff')format('woff');

    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Verdana";

    src: url("/!!Source/fonts/verdana.woff") format("woff"),
        url("/!!Source/fonts/verdana.woff2") format("woff2");

    font-weight: normal;
    font-style: normal;
}