* {
  box-sizing: border-box;
  transition: all .3s ease-in-out;
}

*::before,
*::after {
  box-sizing: inherit;
  transition: all .3s ease-in-out;
}

a {
  text-decoration: none;
}

.txt-white {
  color: white;
}

.btn,
.btn.inverse:hover {
  display: inline-block;
  padding: 8px 25px 10px;
  text-transform: uppercase;
  border: 1px solid;
  cursor: pointer;
  color: #fff;
  background-color: #3A93F3;
  border-color: #3A93F3;
}

.btn:hover,
.btn.inverse {
  color: inherit;
  background-color: transparent;
  border-color: inherit;
}

.container {
  max-width: 1140px;
  width: 90%;
  margin: 0 auto;
}

.container-fluid {
  max-width: 75%;
  margin: 0 auto;
}

header {
  padding: 20px 0;
  background-color: #202020;
  color: #A8A8A8;
}

header ul li {
  margin-right: 15px;
}

header ul li a {
  color: #A8A8A8;
}

#top {
  background-image: url("../img/background-01.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

#top .first {
  background-color: rgba(0, 0, 0, 0.55);
}

#top .first nav ul li {
  margin-right: 15px;
}

#top .first nav ul li a {
  display: inline-block;
  padding: 30px 0;
  color: white;
  text-transform: uppercase;
  font-size: var(--base-size);
}

#top .first nav ul li a:hover,
#top .first nav ul li .activate {
  color: #3A93F3;
}

#top .second {
  padding: 200px 0 270px;
}

#top .second p {
  margin-bottom: 20px;
}

#top .second h2 {
  margin-bottom: 70px;
}

#top ul li a {
  padding: 25px 35px 27px;
  border-radius: 50px;
  margin-right: 20px;
}

#content {
  background-color: white;
  color: #474747;
  text-align: center;
}

#content .content-first {
  position: relative;
  top: -100px;
}

#content .content-first .container {
  background-color: white;
  box-shadow: 0px 15px 15px 0px rgba(0, 0, 0, 0.1);
  padding: 30px;
}

#content .content-first h6 {
  font-family: 'Georgia';
}

#content .content-first ul {
  margin-top: 30px;
}

#content .content-first ul li {
  margin-bottom: 30px;
}

#content .content-third ul li {
  padding: 30px 15px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

#content .content-third ul li i {
  margin-bottom: 30px;
  color: #3A93F3;
  width: 60px;
  height: 60px;
  line-height: 60px;
  font-size: 1.6rem;
}

#content .content-third ul li i:hover {
  color: white;
  background-color: #3A93F3;
}

#team {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/background-02.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding: 80px 0;
}

#team article {
  text-align: center;
  margin-bottom: 80px;
}

#team article h5 {
  padding-top: .5em;
}

#team img {
  max-width: 100%;
  width: auto;
  height: auto;
}

#team ul li:not(:first-child) {
  display: flex;
  flex-flow: column nowrap;
  text-align: center;
}

#team ul li:not(:first-child) a {
  margin-bottom: 20px;
  position: relative;
}

#team ul li:not(:first-child) a:hover::before {
  content: "";
  background-color: rgba(58, 147, 243, 0.3);
  opacity: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
}

#team ul li:not(:first-child) a:hover::after {
  content: "+";
  color: white;
  font-size: 2rem;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
}
