html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  margin: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}


/* ---------------------My Code--------------------- */
/* Top Bar */
.topBar {
  display: flex;
  justify-content: space-between;
  border: 1px solid gray;
  padding: 10px 20px;
  border-top: none;
}

.topBar-left {
  display: flex;
}

.square {
  height: 25px;
  width: 25px;
  border: 1px solid gray;
  margin: auto 10px;
}

.topBar-right>a {
  text-decoration: none;
  border: 1px solid gray;
  width: 35px;
  height: 25px;

}

/* ----------header---------- */

header {
  display: flex;
  justify-content: space-between;
}

/* Left */
header>.left {
  margin: 25px 0;
}

.text1 {
  display: inline-block;
  font-size: 300%;
  color: gray;
}

.text2 {
  color: gray;
}

/* right */
header>.right {
  display: flex;
  align-items: flex-end;
}

header>.right>a {
  text-decoration: none;
  display: inline-block;
  padding: 15px;
  background-color: #ff9900;
  color: white;
  margin: 0 7.5px;
}

header>.right>a:last-child {
  margin-right: 0;
}

/* ---------------Main--------------- */

/* ----------Intro---------- */
.intro {
  display: flex;
  border: 1px solid #d4d4d4;
  margin-bottom: 30px;
  padding: 20px;

}

/* -----Left----- */
/* Left 1 */
.intro>.left {
  display: flex;
  flex-direction: column;

}

.left>.left-1 {
  display: flex;
  margin: 20px auto;
  padding-bottom: 20px;
  border-bottom: 1px solid #b3b3b3;
}

.left-1>.img {
  width: 160px;
  height: 160px;
  background-color: #3a3b3f;
  flex-shrink: 0;
  padding: 5px;
  border: 1px solid #d4d4d4;
  background-clip: content-box;
  text-align: center;
  color: white;
  margin-right: 20px;
}

.left-1>.text>p {
  font-size: 16pt;
  color: #666666;
  border-bottom: 1px solid #666666;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.left-1>.text>span {
  color: #666666;
}

.left-1>.text>a {
  color: #ff9900;
  text-decoration: none;
  text-align: end;
}

/* Left 2 */
.left>.left-2 {
  display: flex;
  margin: 20px auto;
}

.left-2>.img {
  width: 160px;
  height: 160px;
  background-color: #3a3b3f;
  flex-shrink: 0;
  padding: 5px;
  border: 1px solid #d4d4d4;
  background-clip: content-box;
  text-align: center;
  color: white;
  margin-right: 20px;
}

.left-2>.text>p {
  font-size: 16pt;
  color: #666666;
  border-bottom: 1px solid #666666;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.left-2>.text>span {
  color: #666666;
}

.left-2>.text>a {
  color: #ff9900;
  text-decoration: none;
  text-align: end;
}

/* Left 3 */

.left-3 {
  display: flex;
  padding: 10px;
  background-color: #f2f2f2;
  border: 1px solid #d4d4d4;
}

.left-3>.img {
  width: 80px;
  height: 80px;
  background-color: #3a3b3f;
  flex-shrink: 0;
  color: white;
  margin-right: 10px;
}

.left-3>.text {
  color: #666666;
}

.text>p>a {
  color: #ff9900;
  text-decoration: none;
}

/* -----Right----- */

.intro>.right {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
}

.intro>.right>.text {
  margin-bottom: 20px;
}

.intro>.right>span {
  font-size: 24pt;
  color: #666666;
  padding-bottom: 15px;
  border-bottom: 1px solid #b3b3b3;
}

.intro>.right>.img {
  width: 400px;
  height: 230px;
  background-color: #3a3b3f;
  flex-shrink: 0;
  padding: 5px;
  border: 1px solid #d4d4d4;
  background-clip: content-box;
  text-align: center;
  color: white;
  margin: 25px 0;
}

.intro>.right>.link-a {
  display: flex;
  justify-content: space-between;
}

.right>.link-a>a {
  text-decoration: none;
  color: white;
  border: 1px solid #915700;
  background-color: #ff9900;
  padding: 10px 30px;
}

/* ----------Content---------- */
/* -----Left----- */
.content {
  display: flex;
  border: 1px solid #b3b3b3;
  padding-right: 0;
}

.content>.left {
  margin: 20px;
  display: flex;
  flex-direction: column;
}

.content>.left>span {
  font-size: 16pt;
  color: #666666;
  padding-bottom: 10px;
  border-bottom: 1px solid #d4d4d4;

}

.content > .left > p {
  margin-top: 20px;
  color: #666666;
}


.content>.right {
  margin: 20px;
  display: flex;
  flex-direction: column;
}

.content>.right>span {
  font-size: 16pt;
  padding-bottom: 10px;
  color: #666666;
  border-bottom: 1px solid #d4d4d4;
}

.content>.right>.img-thumb {
  display: grid;
  grid: 80px / auto auto auto;
  row-gap: 30px;
  column-gap: 20px;
  margin-top: 20px;
}

.right>.img-thumb>.img {
  width: 80px;
  height: 80px;
  background-color: #3a3b3f;
  flex-shrink: 0;
  padding: 5px;
  border: 1px solid #d4d4d4;
  background-clip: content-box;
  text-align: center;
  color: white;
}