* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: helvetica, sans-serif;
  background-color: #FBF9F1;
}

.container {
  margin: 0 auto;
  max-width: 1110px;
}

a {
  text-decoration: none;
}

header {
  background-color: #FBF9F1;
  padding: 45px 0;
  overflow: hidden;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .logo span {
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding-left: 20px;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav ul li {
  padding: 0 15px;
}

header nav ul li a {
  text-transform: none;
  color: #191919;
  font-size: 15px;
  font-weight: lighter;
}

header nav ul li a.activate, header nav ul li a:hover {
  color: #479e79;
}

#banner {
  position: relative;
  max-width: 1110px;
  margin: 0 auto;
  margin-top: 131px;
}

#banner .photo img {
  width: 100%;
}

#banner .text {
  position: absolute;
  top: 20%;
  left: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 400px;
  width: 100%;
  text-transform: uppercase;
}

#weekly-deals {
  padding: 50px 0;
  border-bottom: 1px solid black;
}

#weekly-deals > div {
  padding: 30px 0;
}

#weekly-deals ul li .img {
  position: relative;
}

#weekly-deals ul li .img::before {
  padding-top: calc(100%);
  content: "";
  display: block;
}

#weekly-deals ul li .img img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: auto;
}

#weekly-deals ul li .img span {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  background-color: #2A6049;
  color: white;
}

#grab {
  margin-top: 50px;
  padding: 50px 0;
  background-color: white;
}

#grab ul li .img span {
  display: none;
}

#grab ul li .img img {
  width: 100%;
  height: auto;
}

#feature {
  margin: 50px auto;
}

#feature article {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 63px min-content 1fr;
      grid-template-rows: 63px -webkit-min-content 1fr;
      grid-template-rows: 63px min-content 1fr;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#feature article span {
  padding: 15px 0;
}

#feature article p {
  padding: 10px 30px;
}
/*# sourceMappingURL=style.css.map */