@mixin cuz-text($size, $font, $color, $transform) {
    font-size: $size;
    font-family: $font;
    color: $color;
    text-transform: $transform;
}


a {
    text-decoration: none;
}

.container {
    margin: 0 auto;
    padding-left: 80px;
    padding-right: 80px;
}

header {
    display: flex;
    justify-content: space-around;
    background-color: #FFFFFF;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;

    .logo {
        display: flex;
        align-items: center;
        padding: 30px 0;

        span {
            margin-left: 10px;
            text-align: center;
            @include cuz-text(20px, 'poppins-semibold', #4b4a4e, uppercase)
        }
    }

    ul {
        display: flex;
        justify-content: space-between;
        align-items: center;

        li {
            padding: 0 15px;

            .activate {
                color: #935491;

                &:hover {
                    color: #935491;
                }
            }

            a {
                @include cuz-text(16px, 'poppins-extralight', #2b2b2b, none);

                &:hover {
                    color: #CDDBDB;
                    transition: 0.5s;
                }
            }

            .link {
                color: #ffffff;
                background-color: #935491;
                font-size: 14px;
                padding: 15px 20px;

                &:hover {
                    background-color: #CDDBDB;
                    transition: 0.5s;
                    color: #4B4A4E;
                }
            }
        }
    }
}

.content {
    margin-top: 98px;
    position: relative;
    text-align: center;

    .text {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;

        display: flex;
        flex-direction: column;

        h2 {
            @include cuz-text(60px, 'poppins-semibold', #4b4a4e, uppercase)
        }

        span {
            @include cuz-text(21px, 'poppins-extralight', #4b4a4e, 'none');
            margin: 25px 0;
        }

        div {
            display: inline-block;
            margin-top: 30px;

            a {
                padding: 15px 40px;
                border: 1px solid #000000;
                @include cuz-text(14px, 'poppins-extralight', #4b4a4e, none);

                &:hover {
                    transition: 0.5s ease-out;
                    background-color: #CDDBDB;
                    border: 1px solid #CDDBDB;
                }
            }
        }
    }
}

.programs {

    h3 {
        padding: 100px;
        text-align: center;
        @include cuz-text(36px, 'poppins-semibold', #4b4a4e, none)
    }

    .list-wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 32px;
        padding: 20px 0;

        .items-wrapper {

            border: 1px solid #D5D5D5;

            img {
                width: 100%;
                cursor: pointer;
                opacity: 0.8;

                &:hover {
                    opacity: 1;
                }
            }

            .text {
                padding: 32px;

                hr {
                    margin: 24px 0;
                }

                span {
                    font-weight: bold;
                    @include cuz-text(21px, 'poppins-extralight', #2b2b2b, none);
                }

                p {
                    @include cuz-text(16px, 'futura', #2b2b2b, none);
                    line-height: 2em;
                }

                a {
                    @include cuz-text(16px, 'futura', #ffffff, none);
                    background-color : #935491;
                    padding: 8px 30px;
                }
            }
        }


    }

}

.location {

    position: relative;
    

    .text {
        left: 5%;
        top: 10%;
        height: 70%;
        width: 18%;
        position: absolute;
        background-color: #ffffff;
        display: grid;
        grid-template-rows: auto;
        padding: 30px 100px;

        h3 {
            padding: 30px 0;
            @include cuz-text(36px, 'poppins-semibold', #4b4a4e, none);
        }

        span {
            padding-top: 30px;
            @include cuz-text(21px, 'poppins-extralight', #4b4a4e, none);
        }

        p {
            padding-top: 20px;
            @include cuz-text(18px, 'futura', #2b2b2b, none)
        }

        a {
            display: inline-block;
            margin-top: 35px;
            padding: 10px 30px;
            @include cuz-text(14px, 'poppins-extralight', #4b4a4e, none);
            border: 1px solid #4b4a4e;

            &:hover {
                transition: 0.5s;
                background-color: #ECECEC;
                border: 1px solid #ECECEC;
            }
        }
    }
}


footer {
    background-color: #E8ECED;
}

.copyright {
    text-align: center;
    padding: 40px;
    @include cuz-text(14px, 'futura', #2b2b2b, none)
}