* {
  box-sizing: border-box;
}

body {
  max-width: 1000px;
  margin: auto;
}

header {
  background-color: #e8e8e8;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-bottom: 60px;

  ul {
    display: flex;
    li {
      text-transform: uppercase;
      a {
        color: #666666;
        &:hover {
          color: #e2494b;
        }
      }

      &:last-child {
        padding: 45px 0;
      }
      &:not(:last-child) {
        padding: 45px 15px 45px 0;
      }
    }
  }
}

main {
  border-radius: 15px;
  margin: -60px 20px 0 20px;
  padding: 20px;
  background-color: #ffffff;
}

#slider .logo {
  padding-right: 10px;
  text-align: right;
}

#services article {
    padding-bottom: 50px;
  img {
    float: left;
    padding: 10px 10px 7px 0;
    &::after {
      clear: both;
    }
  }
  p {
    margin: 0;
  }
  h6 {
    padding-bottom: 15px;
  }
  h6:first-child {
    color: #e2494b;
  }
}

#latest-work {
    border-top: 1px solid gray;
  padding: 40px 0;
  a {
    color: #e2494b;
  }
}

footer {
  background-color: #e8e8e8;

  .topbar {
    background-color: white;
    margin: 0 20px;
    border-radius: 0 0 15px 15px ;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }

  .content {
      ul li {padding: 5px 0 ; border-bottom: 1px solid gray;}
      a {color: #e2494b;}
      h5 {text-transform: uppercase; color: #666666; font-size: 12pt; padding-bottom: 20px; font-weight: bold;}
      h6 {color: #666666; padding: 10px 0;}
      p {margin: 5px 0;}

      input {
          margin: 5px 0;
          background-color: #444444;
          border: none;
          border-radius: 10px;
          padding: 5px 10px;
      }
      border-bottom: 1px solid #c3c3c3;
  }
  .copy {
      padding: 0 20px;
      border-top: 1px solid white;;
      display: flex;
      justify-content: space-between;
      align-items: center;
  }
}
