* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.container {
    margin: 0 auto;
}

header {
    padding: 20px 0;

    nav ul li a {
        padding: 10px;
        color: #344756;
        font-size: var(--text-sm);

    }

}

#sideshow {
    background-image: url('/img/background.png');

    article {
        color: white;
    }
}

#content {

    .top {
        background-color: #edf1f4;

        ul li {
            padding: 20px 10px;

            &:not(:first-child) {
                border-left: 1px solid gray;
            }
        }
    }

    .bottom {
        padding: 40px 0;

        div:first-child {

            p {
                padding: 1.5em 0;
            }
        }

        .img {

            display: flex;
            flex-flow: row wrap;

            div {
                display: flex;
                flex-flow: column wrap;
                justify-content: space-between;

                img:nth-child(even) {
                    padding-top: 10px;
                }

            }


        }
    }
}

#special {
    height: 440px;
    text-align: center;
    background-color: #4c5659;

    &>div>span {
        display: block;
        padding-top: 100px;
        margin-bottom: 30px;
        color: white;
    }

    ul li {
        display: flex;
        flex-flow: column nowrap;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, .4);
        margin-top: 30px;

        img {
            width: 100%;
            height: auto;
        }

        .text {
            padding: 20px;

            &>span {
                display: block;
                margin-bottom: .5rem;
            }

            &>div {
                margin-top: 50px;
                ;
                padding: 20px 0;
                border-top: 1px solid gray;

                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;

                div {
                    text-align: left;
                }
            }
        }
    }
}

#menu {
    padding-bottom: 50px;

    &>div>span {
        margin: 1rem 0;
        display: block;
        text-align: center;

    }

    & div>article {

        &>div {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            border-top: 1px dotted gray;
            padding-top: 20px;

            ul {
                flex-basis: 46%;

                li {
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: space-between;
                    padding: 20px 0;

                    &:not(:last-child) {
                        border-bottom: 1px solid gray;
                    }
                }
            }
        }
    }

    & div article>ul {
        display: flex;
        justify-content: space-between;
        max-width: 750px;
        margin: 10px auto;
        padding: 20px;


        li {
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
        }
    }


}

#clients {
    background-image: url('/img/background1.png');
    text-align: center;
    color: white;
    padding: 100px 0;

    span {
        display: block;
        padding-bottom: 20px;
    }
}