@font-face {
    font-family: 'georgia';
    src: url('/Source/fonts/georgia/georgia-webfont.woff2') format('woff2'),
        url('/Source/fonts/georgia/georgia-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSansRegular';
    src: url('/Source/fonts/opensans/opensans-regular-webfont.woff2')format('woff2'),
        url('./Source/fonts/opensans/opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}